#workspace-sidebar {
	position: fixed;
	top: 0;
	right: -100%; /* Start the sidebar off-screen */
	width: 300px;
	padding: 15px; /* Add padding around the entire sidebar */
	height: 100%;
	background-color: #f4f4f4; /* Light background color */
	transition: right 0.1s ease-in-out;
	z-index: 2001; /* Above overlay */
}

  /* Responsive sidebar widths */
  @media (max-width: 768px) {
    #workspace-sidebar {
      width: 70%; /* Adjust the width as needed */
    }
  }

  @media (max-width: 480px) {
    #workspace-sidebar {
      width: 70%; /* Adjust the width as needed */
    }
  }

  /* Opened sidebar state */
  #workspace-sidebar.opened {
    right: 0;
  }
  
  
  #searchBox {
    padding: 10px;
    width: 100%;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    border-radius: 5px;
  }
  
#sidebarList {
    list-style: none;
    padding: 0;
	height: calc(100vh - 120px); /* Adjust the height based on header and search box */
	overflow-y: auto;
}

#global-sidebarList {
    list-style: none;
    padding: 0;
	overflow-y: auto;
}

  #sidebarList li, #global-sidebarList li{
    border-bottom: 1px solid #ccc;
  }
  
  #sidebarList li a, #global-sidebarList li a{
    width:100%;
	display:block;
	min-height:20px;
	text-decoration:none;
	padding: 10px 5px;
  }
  
  #sidebarList li a:hover, #global-sidebarList li a:hover{
    background-color:#edd;
  }
  
  
   #sidebarHeading {
    font-size: 1rem; /* Adjust the font size as needed */
    margin-bottom: 10px;
  }
  
  
   .workspace-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3); /* Semi-transparent black */
    display: none;
    z-index: 2000; /* Ensure the overlay is on top of main content */
  }
  
  
  
  #global-sidebar {
	position: fixed;
	top: 0;
	left: -100%; /* Start the sidebar off-screen */
	width: 300px;
	padding: 10px; /* Add padding around the entire sidebar */
	height: 100%;
	background-color: #f4f4f4; /* Light background color */
	transition: left 0.1s ease-in-out;
	z-index: 2001; /* Above overlay */
	    overflow-y: auto; /* Add scroll when content overflows */

}

  /* Responsive sidebar widths */
  @media (max-width: 768px) {
    #global-sidebar {
      width: 70%; /* Adjust the width as needed */
    }
  }

  @media (max-width: 480px) {
    #global-sidebar {
      width: 70%; /* Adjust the width as needed */
    }
  }

  /* Opened sidebar state */
  #global-sidebar.opened {
    left: 0;
  }
  
#globalmenu {
	cursor: pointer;
	margin-right: 10px;
}

#globalmenu:hover {
	border: 2px solid #999; 
	border-radius: 2px; 
}


.overlay-sidebar {
		@media (max-width: 991px) {
			transition: transform 50ms ease-in-out !important;
		}
}

.close-sidebar {
    transition: opacity 50ms ease-in-out !important;
}


.icon-grid {
	display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    grid-auto-rows: minmax(100px, 1fr);
    column-gap: 15px;
    row-gap: 15px;
    align-items: center;
	padding-bottom:10px;
}

.icon-horizontal {
	overflow-x:scroll;
	white-space:nowrap;
	padding-bottom:0px;
}

.kt-case-wrapper{
    position: relative;
    margin: 0px;
	display:inline-block;
	text-align: center;

}

.kt-app-icon {
    padding: 20px;
    display: inline-block;
    margin: auto;
    text-align: center;
    border-radius: 16px;
    cursor: pointer;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15);
}

.kt-app-icon .inner, .kt-app-icon i {
    font-size: 32px;
    min-width: 32px;
    color: #fafbfc;
    display: inline-block;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    text-shadow: -1px 1px 5px rgba(0, 0, 0, 0.15);
}
.kt-case-label {
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 0.4px;
    text-align: center;
    margin-top: 10px;
    transition: 0.2s;
    -webkit-transition: 0.2s;
	color:black !important;
	text-shadow:0px 0px 0px !important;
	user-select:none;
}

.circle {
    position: absolute;
    right: -10px !important;
    top: -10px !important;
    color: #fff;
    background-color: #ff5858;
    padding: 6px;
    font-size: 12px;
    line-height: 1;
    border-radius: 25px;
    min-width: 25px;
    height: 25px;
    text-align: center;
    text-shadow: none;
    letter-spacing: normal;
    cursor: pointer;
}

@media (max-width: 767px)
{
	
	.kt-app-icon {
		/* padding: 10px; */
		/* border-radius: 12px; */
	}
	.kt-case-wrapper {
		/* width: 90px; */
		/* height: 100px; */
	}
	.circle {
		right: -10px !important;
	}
}

@keyframes wiggle {
  0%, 100% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-4deg);
  }
  75% {
    transform: rotate(4deg);
  }
}

.wiggle {
    animation: wiggle 0.4s ease-in-out infinite;
}