@media (max-width: 767px)
{
	#desktop-icons {
		/* max-width: 320px; */
	}
	
	#desktop-icons-header {
		/* max-width: 320px; */
	}
}

#btn-add-desktop-icons  {
	padding-bottom: 20px;
	text-align:right;
}

#layout-main-section {
    /* padding-top: 15px; */
    /* padding-bottom: 30px; */
    /* max-width: 970px; */
    margin-left: auto;
    margin-right: auto;
	
	margin-top:60px;
	max-width:85vw;
	/* text-align:right; */
}


#desktop-icons {
    /* padding-top: 15px; */
    /* padding-bottom: 30px; */
    /* max-width: 970px; */
    /* margin-left: auto;
    margin-right: auto;
	margin-top:60px;
	max-width:85vw; */
}


.icon-grid {
	
	padding-bottom:0px;
}

.icon-horizontal {
	overflow-x:scroll;
	white-space:nowrap;
	padding-bottom:0px;
}
	
.icon-grid .case-wrapper{
    position: relative;
    margin: 0px;
    float: none !important;
	display:inline-block;
    width: 138px;
    /* height: 140px; */
	text-align: center;
}

.icon-horizontal .case-wrapper{
    position: relative;
    margin: 0px;
    float: none !important;
	display:inline-block;
    width: 138px;
    height: 140px;
	text-align: center;
}
	


a.module-link{
	padding:0 10px !important;
	/* margin:5px 0; */
}

.module-sidebar-item
{
	margin: 0 !important;
}



.sidebar-icon,.moduleview-icon {
	vertical-align:middle;

	display: inline-block;
	margin: 10px;
	text-align: center;
	/* border-radius: 8px;*/
	/*  cursor: pointer;*/
	/*box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15); */
	background-color:#fff0 !important;
}

.sidebar-icon .inner, .sidebar-icon i,
.moduleview-icon .inner, .moduleview-icon i {
	font-size: 32px;
    min-width: 32px;
   color: #333;
    display: inline-block;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    text-shadow: -1px 1px 5px rgba(0, 0, 0, 0.15);

	

}

div#desktop-sidebar
{
	padding-top:25px;
	    max-height: 99vh;
    overflow-y: scroll;
}
}

.sidebar-icon .inner {
  line-height: 32px;
  font-weight: bold;
}

a.module-link.active, a.module-link:hover{
	background-color: #eee !important;
	border-radius:0px !important;
}


@media (max-width: 991px)
{
	body[data-sidebar="0"] .toggle-sidebar {
		display: block !important;
	}

}

@media (max-width: 991px)
{
	body[data-route=""] .toggle-sidebar, body[data-route="desktop"] .toggle-sidebar {
    display: block !important;
	}


}
