@media (max-width: 767px)
{
	#desktop-icons {
		/* max-width: 320px; */
	}
	
	#desktop-icons-header {
		/* max-width: 320px; */
	}
	
	
	
}

@media (max-width: 991px)
{
	
}


body.full-width .container {
    width: 99% !important;
	/* width:99vw; */
}

#btn-add-desktop-icons  {
	padding-bottom: 20px;
	text-align:right;
}

#layout-main-section {
    /* padding-top: 15px; */
    /* padding-bottom: 30px; */
    /* max-width: 970px; */
    /* margin-left: auto; */
    /* margin-right: auto; */
	/* margin-left:300px; */
	margin-top:60px;
	/* max-width:80%; */
	/* text-align:right; */
	/* padding:0 50px; */
	text-align:center;
}



#desktop-icons {
    /* padding-top: 15px; */
    /* padding-bottom: 30px; */
    /* max-width: 970px; */
    /* margin-left: auto;
    margin-right: auto;
	margin-top:60px;
	max-width:85vw; */
}


.icon-grid {
	/* display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    grid-auto-rows: minmax(100px, 1fr);
    column-gap: 15px;
    row-gap: 15px;
    align-items: center; */
	padding-bottom:0px;
}

.icon-horizontal {
	overflow-x:scroll;
	white-space:nowrap;
	padding-bottom:0px;
}
	
.icon-grid .case-wrapper{
	position: relative;
    margin: 0px;
    float: none !important;
	display:inline-block;
/*     width: 138px;
    height: 140px; */
	text-align: center;
}

.icon-horizontal .case-wrapper{
    position: relative;
    margin: 0px;
    float: none !important;
	display:inline-block;
/*     width: 138px;
    height: 140px; */
	text-align: center;
}
	
@media (max-width: 767px)
{
	
	.app-icon {
		padding: 10px;
		border-radius: 12px;
	}
	.case-wrapper {
		width: 90px;
		height: 100px;
	}
}


a.module-link{
	padding:0 10px !important;
	/* margin:5px 0; */
}

.module-sidebar-item
{
	margin: 0 !important;
}



.sidebar-icon,.moduleview-icon {
	vertical-align:middle;

	display: inline-block;
	margin: 10px;
	text-align: center;
	/* border-radius: 8px;*/
	/*  cursor: pointer;*/
	/*box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15); */
	background-color:#fff0 !important;
}

.sidebar-icon .inner, .sidebar-icon i,
.moduleview-icon .inner, .moduleview-icon i {
	font-size: 32px;
    min-width: 32px;
   color: #333;
    display: inline-block;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    text-shadow: -1px 1px 5px rgba(0, 0, 0, 0.15);

	

}

div#desktop-sidebar
{
	padding-top:25px;
	
	
}

ul.module-sidebar-nav.overlay-sidebar.nav.nav-pills.nav-stacked {
    position: fixed;
    overflow-y: scroll;
    height: 100%;
}


.sidebar-icon .inner {
  line-height: 32px;
  font-weight: bold;
}

a.module-link.active, a.module-link:hover{
	background-color: #eee !important;
	border-radius:0px !important;
}


@media (max-width: 991px)
{
	body[data-sidebar="0"] .toggle-sidebar {
		display: block !important;
	}
body[data-route=""] .toggle-sidebar, body[data-route="desktop"] .toggle-sidebar {
    display: block !important;
	}
}

.overlay-rightbar {
    margin-top: 0 !important;
    position: fixed;
    background: white;
    top: 0;
    right: 0;
    transform: translateX(110%);
    z-index: 9999;
    box-shadow: 5px 0 25px 0px rgba(0, 0, 0, 0.3);
    height: 100%;
    min-width: 25%;
    max-width: 60%;
	/* padding: 20px !important; */
    display: block !important;
    transition: transform 170ms;
	font-size:larger;
	font-weight:bolder;
}
.overlay-rightbar.opened {
    transform: translateX(0);
    overflow-y: auto;
}
.overlay-rightbar .divider {
    height: 1px;
    background-color: #d8dfe5;
    opacity: 0.7;
}
.overlay-rightbar li:not(.divider):not(.tagit-new):not(.module-sidebar-item) {
    padding: 10px 15px;
}
.overlay-rightbar .modified-by,
.overlay-rightbar .created-by {
    margin: 0;
}
.overlay-rightbar .badge {
top: 9px;
right: 15px;
}
.overlay-rightbar .reports-dropdown,
.overlay-rightbar .kanban-dropdown {
/* margin-top: 10px; */
/* margin-bottom: -10px; */
}
.overlay-rightbar .reports-dropdown li:not(.divider),
.overlay-rightbar .kanban-dropdown li:not(.divider) {
/* padding: 12.5px 0 !important; */
}
.overlay-rightbar .reports-dropdown li.divider,
.overlay-rightbar .kanban-dropdown li.divider {
height: 0;
}


#close-sidebar {
    position: fixed;
    top: 0;
    right: 0;
    background: #000;
    z-index: 9998;
    height: 100%;
    width: 100%;
	opacity: 0;
	transition-property: opacity;
}

/* to */
div#close-sidebar.opened{
	opacity: 0.3;
	display:block !important;
}

.modules-container {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)) !important;
    grid-auto-rows: minmax(62px, 1fr);
}

.module-remove {
   background-color: #E0E0E0;
    color: #212121;
}


